@page "/position"
@inject IModalService Modal

<h1>Positioning the modal</h1>

<hr class="mb-5" />

<p>
    By default, the modal is shown in the center of the viewport. The modal can be shown
    in a number of different positions by setting the <code>Position</code> option.
</p>

<div class="card mb-4">
    <h5 class="card-header">Setting on a per modal basis</h5>
    <div class="card-body">
        <p class="card-text">
            <code>
                @("var options = new ModalOptions() { Position = ModalPosition.TopLeft };")
                <br />
                @("Modal.Show<Confirm>(\"Position: TopLeft\", options);")
            </code>
        </p>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">Setting globally for all modals</h5>
    <div class="card-body">
        <p class="card-text">
            <code>
                @("<BlazoredModal Position=\"ModalPosition.TopLeft\" />")
            </code>
        </p>
    </div>
</div>

<button @onclick="PositionCenter" class="btn btn-primary">Center</button>

@code {

    void PositionCenter()
    {
        Modal.Show<Confirm>("Centered Modal (Default)");
    }

}